{% extends 'base.html.twig' %}

{% block title %}Job index{% endblock %}

{% block body %}
    {% for category in categories %}
        <h4><a href="{{ path('category_show', {slug: category.slug}) }}">{{ category.name }}</a></h4>
        {% include 'job/_table.html.twig' with {
            'jobs': category.activeJobs|slice(0, max_jobs_on_homepage)
        } only %}
    {% endfor %}
{% endblock %}