<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Jobeet - Admin{% endblock %}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}

        <link rel="stylesheet" href="{{ asset('build/jobeet.css') }}" />
    </head>
    <body>
        <nav class="navbar navbar-light bg-light mb-5">
            <a class="navbar-brand" href="#">Jobeet Admin</a>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <nav class="nav flex-column nav-pills">
                        <a class="nav-link" href="#">Categories</a>
                        <a class="nav-link" href="#">Jobs</a>
                    </nav>
                </div>

                <div class="col-md-10">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>